.comments {
  margin-bottom: $mb-2;
  box-shadow: none;
  position: relative;
  &__container {
    background-color: $c-white;
    padding: $mb-2;
    border-radius: $mb-1;
    &-post {
      &-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: $mb-2;
        margin-bottom: $mb-2;
        img {
          width: 35px;
        }
        &-username {
          font-weight: fontWeight(bold);
        }
        &-createat {
          font-weight: fontWeight(medium);
          color: $c-grayish-blue;
        }
      }
      &-message {
        margin: $mb-2 0;
        color: $c-grayish-blue;
        font-weight: fontWeight(medium);

        .replyingTo {
          font-weight: fontWeight(bold);
          color: $c-moderate-blue;
        }
      }
    }

    &-score {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      background-color: $c-very-light-gray;
      border-radius: $mb-1;
      &-number {
        color: $c-moderate-blue;
        font-weight: fontWeight(bold);
      }
      &-btn {
        border: none;
        padding: 0.4rem 0.8rem;
        background-color: $c-very-light-gray;
        color: $c-ligth-grayish;
        font-weight: fontWeight(bold);
        cursor: pointer;
        &:first-of-type {
          border-radius: $mb-1 0 0 $mb-1;
        }
        &:last-child {
          border-radius: 0 $mb-1 $mb-1 0;
        }
      }
    }
    &-reply {
      display: inline-flex;
      position: absolute;
      right: $mb-2;
      gap: $mb-1;
      align-items: center;
      &-btn {
        border: none;
        background-color: $c-white;
        color: $c-moderate-blue;
        font-weight: fontWeight(bold);
      }
    }
    &-userAction {
      display: inline-flex;
      position: absolute;
      right: $mb-2;
      align-items: center;
      gap: $mb-1;
      &-delete {
        display: inline-flex;
        margin-right: $mb-1;
        gap: $mb-1;
        align-items: center;
        cursor: pointer;
        &-btn {
          background-color: $c-white;
          color: $c-soft-red;
          border: none;
          font-weight: fontWeight(bold);
        }
      }
      &-edit {
        display: inline-flex;
        gap: $mb-1;
        align-items: center;
        cursor: pointer;
        &-btn {
          background-color: $c-white;
          color: $c-moderate-blue;
          border: none;
          font-weight: fontWeight(bold);
        }
      }
    }
  }

  &__replies {
    background-color: $c-very-light-gray;
    box-shadow: -6px 1px 3px -5px $c-light-gray;
    &-container {
      margin: $mb-2 0 $mb-2 $mb-2;
      background-color: $c-white;
      padding: $mb-2;
      border-radius: $mb-1;
    }
  }

  &__new-commnet {
    background-color: $c-white;
    padding: $mb-2;
    border-radius: $mb-1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-new {
      &-text {
        width: 100%;
        height: 100px;
        padding: $mb-1 $mb-2;
        border-radius: inherit;
        border: 1px solid $c-light-gray;
        margin-bottom: $mb-2;
        order: 1;
      }
      &-img {
        width: 35px;
        order: 2;
      }
    }

    &-send {
      order: 3;
      padding: 0.8rem $mb-3;
      border: none;
      border-radius: $mb-1;
      background-color: $c-moderate-blue;
      color: $c-white;
    }
  }

  &__you {
    background-color: $c-moderate-blue;
    color: $c-white;
    padding: 1px 0.3rem;
  }
}

@media (min-width: $mq-d) {
  .comments {
    width: 50%;
    margin: auto;
    margin-bottom: $mb-2;
    &:first-of-type {
      margin-top: $mb-5;
    }
    &__container {
      display: flex;
      flex-direction: row;
      gap: $mb-4;
      padding: $mb-3;

      &-score {
        order: 1;
        flex-direction: column;
        height: 10px;
        width: 10px;
        background-color: $c-very-light-gray;

        &-number {
          padding: 10px;
          background-color: inherit;
        }
        &-btn {
          &:first-of-type {
            border-radius: 8px 8px 0 0;
          }
          &:last-child {
            border-radius: 0 0 8px 8px;
          }
        }
      }

      &-post {
        order: 2;
      }
    }

    &__replies {
      margin-left: $mb-5;
      &-container {
        margin: $mb-2 0 $mb-2 $mb-4;
        display: flex;
        flex-direction: row;
        gap: $mb-4;
        padding: $mb-3;
      }
    }

    &__new-commnet {
      width: 50%;
      margin: auto;
      display: flex;
      flex-direction: row;
      gap: $mb-1;
      // flex-wrap: nowrap;
      &-new {
        &-text {
          width: 78%;
          order: 2;
        }
        &-img {
          order: 1;
          margin-left: $mb-1;
          width: 35px;
        }
      }
      &-send {
        order: 3;
        text-align: center;
        line-height: $mb-1;
        padding: $mb-3;
        height: $mb-4;
      }
    }
  }
}
