.modal {
  &__overlay {
    background-color: rgba(103, 114, 126, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: $c-white;
    padding: $mb-3;
    border-radius: $mb-1;
  }

  &__header {
    margin-bottom: $mb-2;
    font-weight: fontWeight(bold);
    font-size: 18px;
  }

  &__content {
    margin-bottom: $mb-2;
  }

  &__btn {
    display: inline-flex;
    width: 100%;
    gap: $mb-1;
    button {
      width: 100%;
      padding: 0.8rem 0;
      border: none;
      color: $c-white;
      border-radius: $mb-1;
      font-weight: fontWeight(bold);
      cursor: pointer;
    }
    &-no {
      background-color: $c-grayish-blue;
    }
    &-yes {
      background-color: $c-soft-red;
    }
  }
}
