@charset 'UTF-8';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Rubik:wght@300&display=swap");

@import "var";
@import "comments";
@import "modal";

html,
body {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0;
  font-family: $font-family;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  color: inherit;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 16px;
}

li {
  list-style-type: none;
}

span {
  color: inherit;
}

.main-content {
  background-color: $c-very-light-gray;
  padding: $mb-3 $mb-2;
}
